<div class="container col-md-8">
    <form class="border border-light p-5" (ngSubmit)="onSubmit()" [formGroup]="quotesForm">

        <p class="h4 mb-4 text-center">Contact us</p>
        {{Products.forEach| json}}
    
        <input type="text" formControlName="nameUser" class="form-control mb-4" placeholder="Input your fullname">
    
        <input type="hidden" formControlName="date" class="form-control mb-4" value="{{datecurrent | date}}">
    
        <label for="defaultSelect">Subject</label>
        <select id="defaultSelect" class="browser-default custom-select mb-4" >
            <option value="" disabled="">Choose option</option>
            <option *ngFor="let item of Products | async; let i=index" value="{{i}}" selected="" formControlName="nameProduct">{{item.name}}
                <input type="hidden" formControlName="productId" value="{{item}}">
            </option>
            
        </select>
    
        <textarea class="form-control rounded-0" formControlName="message" rows="3" placeholder="Message" formControlName="messaje"></textarea>
    
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>
    
        <button class="btn btn-info btn-block" type="submit">Send</button>
    </form>
</div>

<div class="container col-md-8">
    <div class="card">
        <button class="btn btn-success m-2 text-capitalize" (click)="onGoToBack()"><i class="fa fa-plus-square-o " style="width:2rem;"></i>   go back to list</button>
    </div>

</div>