<div class="container mb-6 col-md-9">
  <div class="card border-0" *ngFor="let item of valueitem$ | async">
    <h6 class="card-header text-capitalize">{{ item.name }}</h6>
    <div class="card-body">
      <h5 class="card-title">{{ item.tipo }}</h5>
      <h6 class="card-subtitle text-muted">{{ item.quantity }}</h6>
    </div>
    <div class="img-fluid ">
      <img
        src="{{ item.imageProduct[0] }}"
        class="rounded hover-shadow w-75 h-auto"
        alt=""
        (click)="onGoToDetails(item)"
      />
    </div>
    <div class="card-body">
      <button
        class="btn btn-primary m-2 text-capitalize"
        (click)="onGoToDetails(item)"
      >
        details
      </button>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
  <div class="ui-button-text-icons">
    <button
      class="btn-outline-light text-capitalize"
      [routerLink]="['/productcreate']"
    >
      create form
    </button>
  </div>
</div>
