<div class="container col-md-8">
    <form (ngSubmit)="onSubmit(productsForm)" #productsForm="ngForm">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectproduct.$key">

        <fieldset>
            <legend>Legend {{urlImage | json}} </legend>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-capitalize">name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext text-capitalize" name="name" #name="ngModel" [(ngModel)]="productService.selectproduct.name" placeholder="insert name of product or service">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label mt-4 text-capitalize">type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext text-capitalize" name="tipo" #name="ngModel" [(ngModel)]="productService.selectproduct.tipo" placeholder="insert type of product or service">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label mt-4 text-capitalize">price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext text-capitalize" name="price" #price="ngModel" [(ngModel)]="productService.selectproduct.price" placeholder="insert price of product">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label mt-4 text-capitalize">quantity</label>
                <select class="form-select" id="exampleSelect1" name="quantity" #quantity="ngModel" [(ngModel)]="productService.selectproduct.quantity">
              <option>1. </option>
              <option>2. </option>
              <option>3. </option>
              <option>4. </option>
              <option>5. </option>
            </select>
                <label class="form-label mt-4 text-capitalize">units</label>
                <select class="form-select" id="exampleSelect1" name="units" #units="ngModel" [(ngModel)]="productService.selectproduct.units">
          <option> mts</option>
          <option> unds</option>
          <option> C/U</option>
        </select>
            </div>

            <div class="form-group">
                <label class="form-label mt-4 text-capitalize">insert description</label>
                <textarea class="form-control " id="exampleTextarea" name="description" #description="ngModel" [(ngModel)]="productService.selectproduct.description" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label mt-4 text-capitalize fa-percentage">insert an image</label>
                <input class="form-control" type="file" accept=".png, .jpg, .ico, .tiff, .gif " (change)="onUpload($event)" id="formFile">
                <input type="hidden" [value]="urlImage | async" name="image" #image="ngModel" [(ngModel)]="productService.selectproduct.image">
            </div>
        </fieldset>
        <fieldset class="form-group mt-5">
            <div class="form-group card">
                <button type="submit" class="btn btn-primary primary "><i class="fa fa-plus-circle "></i>   Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<div class="container col-md-8">
    <div class="card">
        <button class="btn btn-success m-2 text-capitalize" (click)="onGoToBack()"><i class="fa fa-plus-square-o "></i>   go back to list</button>
    </div>

</div>